//////////////////////////////////////////////////////////////////////////////
// Global
//////////////////////////////////////////////////////////////////////////////
.wrapper{
	//padding: 50px 0;
}

body, html{
	font-family: 'Montserrat', sans-serif !important;
}

//////////////////////////////////////////////////////////////////////////////
// Navbar
//////////////////////////////////////////////////////////////////////////////
.nav-link.link.dropdown-item:hover {
	background-color: transparent !important;
	@include float-right;
}


//////////////////////////////////////////////////////////////////////////////
// Page
//////////////////////////////////////////////////////////////////////////////
.entry-title{
	margin-bottom: 50px;
}


//////////////////////////////////////////////////////////////////////////////
// Home Page
//////////////////////////////////////////////////////////////////////////////
.hero{
	margin-bottom: 50px;
}



//////////////////////////////////////////////////////////////////////////////
// Cards
//////////////////////////////////////////////////////////////////////////////
.card{
	border: none !important;
	border-radius: .1875rem;
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-bottom: 20px;
	box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.2);
}


//////////////////////////////////////////////////////////////////////////////
// Header
//////////////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////////////
// Footer
//////////////////////////////////////////////////////////////////////////////

.pre-footer{
	background-color: $blue;
	padding: 50px 0;
	// SOS Branding
	#Layer_1{
		max-width: 100px;
	}
}