//////////////////////////////////////////////////////////////////////
// Global Elements
//////////////////////////////////////////////////////////////////////
a{
	text-decoration: none !important;
}

body{
	font-size: 14px;
}

p{
	color: $gray-600;
}

//////////////////////////////////////////////////////////////////////////////
// Buttons
//////////////////////////////////////////////////////////////////////////////
.bg-accent {
  background: $brand-accent;
}

a.accent{
	color: $brand-accent;
}

.custom-select{
	appearance: none;
	-webkit-appearance: none;
}

//////////////////////////////////////////////////////////////////////////////
// Utilities
//////////////////////////////////////////////////////////////////////////////
.shade{
	position: relative;
	background: rgba(0,0,0, 0.5);
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.relative{
	position: relative;
	z-index: 0;
}

.animated{
	animation-duration: 2s;
	animation-delay: .2s;
}

//////////////////////////////////////////////////////////////////////////////
// Navbar
//////////////////////////////////////////////////////////////////////////////
.nav-link.link.dropdown-item:hover {
	background-color: transparent !important;
	@include float-right;
}

.dropdown-item:focus, .dropdown-item:hover {
	background: transparent;
}

.navbar-logo img {
	height: 2rem;
}

.navbar-caption{
	font-size: 14px;
	padding-top: 3px;
}


//////////////////////////////////////////////////////////////////////
// Woocommerce Category Archive Product Page (aka - Sessions)
//////////////////////////////////////////////////////////////////////
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	width: 29.5%;
}

.woocommerce ul.products li.product .price{
	float: right;
}

.woocommerce ul.products li.product .button{
	float: right;
	clear: both;
}

.woocommerce-MyAccount-navigation-link.nav-item a{
	color: $brand-accent !important;
}

//////////////////////////////////////////////////////////////////////
// Woocommerce Single Product Page (aka - Sessions)
//////////////////////////////////////////////////////////////////////

.woocommerce.content-full-width div.product div.summary {
  width: 100%;
}

.related.products{
	display: none;
}

.woocommerce span.onsale{
	height: 30px;
	width: 30px;
	padding: .202em;
	font-size: 14px;
	font-weight: 700;
	position: absolute;
	text-align: center;
	line-height: 32px;
	top: 8px;
	left: 100px;
	margin: 0;
	border-radius: 100%;
	background-color: #77a464;
	color: #fff;
	font-size: .857em;
	-webkit-font-smoothing: antialiased;
	z-index: 9;
}


//////////////////////////////////////////////////////////////////////////////
// HomePage
//////////////////////////////////////////////////////////////////////////////

#hero-banner{
		position: relative;
		background-image:  linear-gradient(180deg, rgba(3, 21, 35, .85) 50%, rgba(3, 21, 35, .7) 100%), url('../img/exam-aid-2.jpg');
		background-repeat: no-repeat;
		background-position: bottom left, center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: block;
		.h1{
			color: $white;
		}
		.lead, p{
			color: $white !important;
			opacity: .8;
		}
}

#features{

	.img-block-1, .img-block-2{
		transition: all .35 ease-in;
		transform: scale(1);
		overflow: hidden;
		box-shadow:
		&:hover{
			transform: scale(1.005);
		}
	}

	.img-block-1{
		background-image: linear-gradient(0deg, rgba(3, 21, 35, .6) 0%, rgba(3, 21, 35, .3) 100%), url('../img/exam-aid-1.jpg');
		background-repeat: no-repeat;
		background-position: bottom left, center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: block;
	}

	.img-block-2{
		background-image: linear-gradient(0deg, rgba(3, 21, 35, .6) 0%, rgba(3, 21, 35, .3) 100%), url('../img/exam-aid-3.jpg');
		background-repeat: no-repeat;
		background-position: bottom left, center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: block;
	}
}

#support-us{
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .3) 100%), url('../img/outreach-2.jpg');
	background-repeat: no-repeat;
	background-position: bottom left, center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	h2{
		color: $white !important;
	}
	p {
		color: $white !important;
		opacity: .8;
	}

	hr{
		background: $white !important;
		opacity: .4;
	}
}


#partners{
	background: $gray-200;
}



//////////////////////////////////////////////////////////////////////
// Footer
//////////////////////////////////////////////////////////////////////

.nav-item a{
	color: $brand-accent !important;

	&:hover{
		opacity: .8;
		cursor: pointer;
	}
}
