body.login {
  background-image: url('../img/login-page-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login h1 a {
  background-image: url('../img/sos-logo.svg');
}

#login{
	width: 400px;
	max-width: 400px;
}

.login.wp-core-ui .button-primary {
	background: transparent;
	border: 2px solid #0a4a7a !important;
	border-radius: 0px;
	-webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
	box-shadow: 0 0 0 rgba(255, 255, 255, 0);
	color: #0a4a7a;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	font-size: 14px;
	transition: .2s all;
}

.login.wp-core-ui .button-primary:hover{
	background: #0a4a7a;
	color: #fff;
}

.wp-core-ui .button.button-large{
	line-height: 28px;
	padding: 0 12px 2px;
	display: block;
	width: 100%;
	margin-top: 30px;
	height: 50px;
	text-transform: uppercase;
}

.login label{
	color: rgba(255, 255, 255, 0.7);
}

.login form .input, .login form input[type=checkbox], .login input[type=text] {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: none;
	border: 0px;
	font-size: 16px;
}

.input, .login input[type=text], #user_pass{
	font-size: 14px;
	width: 100%;
	padding: 15px 20px;
	margin: 5px 6px 30px 0;
}



.login #backtoblog a, .login #nav a{
	color: #fff;
	opacity: .5;
}

.login #backtoblog a:hover, .login #nav a:hover{
	color: #fff;
	opacity: 1;
}

.login form{
	padding: 30px;
	background: transparent;
	box-shadow: none;
}